<div class="jumbotron jumbotron-fluid bg-success text-center text-white">
  <div class="container">
    <h1 class="display-5">Contacto para soporte técnico e información</h1>
  </div>
</div>

<div class="container mt-1 p-5 font-weight-bold">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
      <label for="name">Nombre completo</label>
      <input required #name="ngModel" ngModel type="text" class="form-control" name="name">
      <span *ngIf="name.invalid && name.touched" class="error">Su nombre es requerido</span>
    </div>
  
    <div class="form-group">
      <label for="empresa">Nombre de la empresa</label>
      <input required #empresa="ngModel" ngModel type="text" class="form-control" name="empresa">
      <span *ngIf="empresa.invalid && empresa.touched" class="error">El nombre de la empresa es requerido</span>
    </div>
  
    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input required #email="ngModel" email ngModel type="email" class="form-control" name="email">
      <span *ngIf="email.invalid && email.touched" class="error">El correo es requerido</span>
    </div>
  
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="telefono">Teléfono</label>
        <input type="number" class="form-control" name="telefono">
      </div>
  
      <div class="form-group col-md-6">
        <label for="categoria">Categoria</label>
        <select required #categoria="ngModel" ngModel name="categoria" class="form-control">
          <option selected>...</option>
          <option>Soporte Técnico</option>
          <option>Software</option>
          <option>Web</option>
          <option>Base de Datos</option>
        </select>
        <span *ngIf="categoria.invalid && categoria.touched" class="error">Debe seleccionar una categoria</span>
      </div>
  
    </div>
  
    <div class="form-group">
      <label for="Mensaje">Mensaje</label>
      <textarea required #mensaje="ngModel" ngModel type="text" class="form-control" name="Mensaje"></textarea>
      <span *ngIf="mensaje.invalid && mensaje.touched" class="error">Por favor indique su mensaje</span>
    </div>
  
    <!-- <button [disabled]="userForm.invalid" type="submit" class="btn btn-success"> -->
    <button type="submit" class="btn btn-success"> 
    <i class="fa fa-send"></i> Enviar
    </button>
  </form>
  </div>

